<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
<div class="wrapper">
    <div class="item item1">
        <div class="fb">facebook</div>
        <div class="text1">
            <p>Facebook helps you connect and share with the people in your life.</p>
        </div>
    </div>
    <div class="item item2">
        <div style="font-size: 15px; padding-bottom: 9px; color: red">
        </div>
        <div class="logInform">
            <form th:action="@{/facebook/login}" method="post" th:object="${loginForm}">
                <input id="email" name="email" type="email" th:field="*{email}" placeholder="Email address" required><br><br>
                <input type="password" name="password" id="password" th:field="*{password}" placeholder="Password" required><br><br>
                <input type="submit" value="Log in" id="login-button"><br><br>
            </form>
            <div class="forget-passwd"><a href="#">Forgotten password?</a></div>
            <a th:href="@{/facebook/signup}"><input type="submit" value="Create New Account" id="create"></a>
        </div>
    </div>
</div>
</body>
</html>